<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{management.product.title}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body>
<div class=".container">
    <h1 th:text="#{management.product.h1}"></h1>
</div>
<div class="container">
    <form th:action="@{product}" th:object="${productForm}" method="post">
        <div class="form-group">
            <label th:text="#{management.product.label1}">A Termékneve</label>
            <div class="fromErrorMessage" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> error message</div>
            <input type="text" th:field="*{name}" class="form-control" th:placeholder="#{placeholder.name}">
        </div>

        <div class="form-group">
            <label th:text="#{management.product.label2}">A Termék márkája</label>
            <div class="fromErrorMessage" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"> error message
            </div>
            <input type="text" th:field="*{brand}" class="form-control" th:placeholder="#{placeholder.brand}">
        </div>
        <div class="form-group">
            <div class="fromErrorMessage" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"> error message
            </div>
            <label th:text="#{management.product.label3}">A Termék értéke</label>
            <input type="number" th:field="*{price}" class="form-control" th:placeholder="#{placeholder.price}">
        </div>
        <div class="fromErrorMessage" th:if="${#fields.hasErrors('global')}" th:errors="global"> error message</div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

</div>


</body>
</html>