<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{management.shelf.title}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body>
<div class=".container">
    <h1 th:text="#{management.shelf.h1}"></h1>
</div>
<div class="container">
    <form th:action="@{shelf}" th:object="${shelfForm}" method="post">
        <div class="form-group">
            <label th:text="#{management.shelf.label1}">A polc helye</label>
            <div class="fromErrorMessage" th:if="${#fields.hasErrors('loco')}" th:errors="*{loco}"> error message</div>
            <input type="text" th:field="*{loco}" class="form-control" th:placeholder="#{placeholder.loco}">
        </div>

        <div class="form-group">
            <label th:text="#{management.shelf.label2}">a polc kapacitása</label>
            <div class="fromErrorMessage" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"> error
                message
            </div>
            <input type="number" th:field="*{capacity}" class="form-control" th:placeholder="#{placeholder.capacity}">
        </div>
        <div class="fromErrorMessage" th:if="${#fields.hasErrors('global')}" th:errors="global"> error message</div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

</div>


</body>
</html>