html{

background-color: #fff5dd;
}
body{
background-color: #fff5dd;
}
.col-sm-2 {
	padding:0;
	margin:0px,0px,0px,0px;
	border:0px,0px,0px,0px;
	color:black;
}

.nav{
	background-color:#8d5b41;
	 margin: auto;
    border: 1px solid black;
	font-size:1.5em;
	text-align:center;



}
.nav:hover{
	background-color: #996633;
}
h1{
    text-align: center;
	font-size: 1.5em;
	color:
}
.product{
	font-size:1.5em;
	background-color:#8d5b41;
	 margin: auto;
    border: 1px solid black;
}

.product:hover{
	background-color: #996633;

}
.productstuff {

 display: none;
    position: relative;
    background-color:  #c68c53;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;


}
.productstuff a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.productstuff a:hover {
    background-color: #d9b38c;
    color: black;
}

.shelf{
	background-color:#8d5b41;
	 margin: auto;
    border: 1px solid black;
	font-size:1.5em;
}
.shelf:hover{
background-color: #996633;
}
.shelfstuff{
 display: none;
    position: relative;
    background-color:  #c68c53;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.shelfstuff a{
	 float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.shelfstuff a:hover{
background-color: #d9b38c;
    color: black;

}

.pallet{
	background-color:#8d5b41;
	 margin: auto;
    border: 1px solid black;
	font-size:1.5em;
}
.pallet:hover{
background-color: #996633;
}
.palletstuff{
 display: none;
    position: relative;
    background-color:  #c68c53;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.palletstuff a{
	 float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.palletstuff a:hover{
background-color: #d9b38c;
    color: black;

}

a {
	text-decoration :none;
	color:black;

}
a:focus, a:hover {
text-decoration :none;
	color:black;
}

 .fromErrorMessage{
    color: red;
 }
 .error{
    color: red;
    text-align: center;
    padding: 120px,80px;
    background-color: #bab39a;
 }