<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{home.title}"></title>
    <link rel="stylesheet" th:href="@{/css/hamster.css}" href="../static/css/hamster.css">
</head>
<body>
<div class="row">
    <nav class="col-sm-12">
        <div class="col-sm-2">
            <div class="nav">MÓKUS!</div>
        </div>
        <div class="col-sm-2">
            <div class="nav" ><a th:href="@{home}" target="_self"><span th:text="#{nav.home}" >Kezdőlap</span></a></div>
        </div>
        <div class="col-sm-2">
            <div class="product" ><span th:text="#{nav.product}"></span>
                <div class="productstuff">
                    <a  th:href="@{management/product}" target="_self"> <span  th:text="#{nav.product.insert}" >termék felvétel</span></a>
                    <!--<a th:text="#{nav.product.update}">termék módosítás </a>-->
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="shelf" ><span  th:text="#{nav.shelf}"></span>
                <div class="shelfstuff">
                    <a  th:href="@{management/shelf}" target="_self"><span  th:text="#{nav.shelf.insert}"></span></a>
                    <a th:text="#{nav.shelf.update}"></a>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="pallet" ><span  th:text="#{nav.pallet}"></span>
                <div class="palletstuff">
                    <a th:href="@{inflow}" target="_self"><span  th:text="#{nav.pallet.insert}"></span></a>
                    <a th:text="#{nav.pallet.delete}"> </a>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="nav"><a th:href="@{statics}"><span  th:text="#{nav.statics}"></span></a></div>
        </div>
    </nav>
</div>
</body>
</html>